@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

body {
  font-family: 'Kalam', 'cursive'; /* Menambahkan font Monstreat ke seluruh halaman */
  margin: 0; /* Reset margin agar tidak ada padding atau margin bawaan */
  padding: 0;
  background-image: url('../public/backgrounHome.png'); /* Menambahkan background image ke seluruh halaman */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
